a {color:#c0cac0;}
.bg-primary {background-color: #c0cac0;}
.bg-secondary {background-color: #68b235;}
.color-primary {color: #c0cac0;}
.border-primary {border-color: #c0cac0;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #fff;background-color: #c0cac0;border: 1px solid #509cbc;}
.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:focus {border-color: #509cbc #509cbc #509cbc;background-color: #c0cac0;}
header ul li.current-menu-item a, header ul li a:hover {background: #c0cac0;color: #fff;}
header ul li.register a {background-color: #68b235;color: #fff;}
.timecounter {color: #fff;background-color: #68b235;}
.heading {background: #c0cac0;color: #fff;}
.btn-primary {color: #ffffff;background-color: #c0cac0;}
.btn-check.btn-primary {border-color: #c0cac0;color: #c0cac0;}
.btn-check.btn-primary.active, .btn-check.btn-primary:hover {color: #fff;background-color: #c0cac0;}
.btn-secondary {color: #fff;background-color: #68b235;border-color: #68b235;}
.landing .box {background: #c0cac0;}
.speakers .speaker .speaker-inner {background: #c0cac0;}
.speakers .speaker.featured .speaker-inner {background: #68b235;}
.speakers .speaker .speaker-inner:hover {color: #68B235;}
.speakers .speaker.featured .speaker-inner:hover {color: #68b235;} 
.connect {color: #fff;background-color: #68b235;}
.sessions .session .speaker.featured img {border-color: #68b235;box-shadow: 0px 0px 0px 1px #68b235;}
.sessions.list .day-floating > span {border-top: 4px solid #c0cac0;background: #fff;border-bottom: 2px solid #d2d2d2;}
.sessions.single .location strong {color: #c0cac0;}
h3.sponsor {color: #68b235;}
.color-secondary {color: #68b235;}
.border-secondary {border-color: #68b235;}
.location .explore {background: #f1f1f1;color: #68b235;}
.location .explore .heading {color: #fff;background: #68b235;}
.location .map {border: 1px solid #68b235;}
.mediabox a.post .desc strong {color: #c0cac0;}
.articles article .image .date {color: #fff;background-color: #68b235;}
.articles article:hover .image, .articles article:hover  .post-content {border-color: #68b235;}
.articles article .post-content .heading {color: #68b235;}
.sidebar .tyler_comments_display h2 {color: #fff;background: #c0cac0;}
.sidebar .tyler_comments_display li a:hover {border-color: #c0cac0;}
.sidebar .tyler_comments_display li .time {color: #68b235;}
.sidebar .widget_text h2 {color: #68b235;border-bottom: 1px solid #68b235;}
.comments-area h2 {color: #fff;background: #c0cac0;}
.comments-area form input[type=submit] {background: #68b235;color: #fff;}
.commentlist .comment .comment-content {border: 1px solid #c0cac0;}
.commentlist .comment .comment-content:after {border: 1px solid #c0cac0;background: #fff;}
footer .credits {background: #313131;color: #cccccc;}
#twitter_fullscreen li {border: 1px solid #c0cac0;}
.twitter .tweet {border:1px solid #68b235;}
#tile_media .btn-check{background:#fff;color:#68b235;border-color:#68b235;}
#tile_media .btn-check.active{background:#c0cac0;color:#fff;border-color:#c0cac0;}
.jspDrag{background:#68b235;}
.landing .btn-secondary {border-color:#68b235;}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {color: #fff;background-color: #c0cac0;border-color: transparent;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {color: #ffffff;background-color: #68b235;border-color: #68b235;}